#projectsSection{
    border-bottom: 2px solid blue;

}
h1{
    color: yellow;
    font-size: xxx-large;
    margin-bottom: 0px;

}
h2{
    color:blue;
    font-size:xx-large;
    margin-top: 0px;

}
.projectCards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 50px;
}
.projectCard{
    width:min-content;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px 20px;
    text-align: center;
    padding: 20px 0px;
}
img{
    border:2px solid blue;
    margin-top: 10px;
    border-radius: 10px;
}
.projectCard h3{
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
}
.projectCard a{
    font-size: x-large;
    margin-bottom: 100px;
}
