#projectsSection{
    border-bottom: 2px solid blue;

}
#projectsSection h1{
    color: yellow;
    font-size: 3rem;
    margin-bottom: 0px;

}
#projectsSection h2{
    color:blue;
    font-size:2.5rem;
    margin-top: 0px;

}
.projectCards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 50px;
}
.projectCard{
    width:min-content;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px 20px;
    text-align: center;
    padding: 20px 0px;
}
.projectCard img{
    border:2px solid blue;
    margin-top: 10px;
    border-radius: 10px;
}
.projectCard h3{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.projectCard a{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 100px;
    text-decoration: none;
}
.projectCard a:hover{
    color: yellow;
    text-decoration: underline;
}

@media (max-width: 480px) {
    #projectsSection h1{
        font-size: 2.5rem;    
    }
    #projectsSection h2{
        font-size:2rem;    
    }
    .projectCards{
        padding: 0px 0px;
    }
    .projectCard{
        padding: 20px 20px;
    }
}