#homeSection{
  border-bottom: 2px solid blue ;
  align-items: center;
  
}
.homeContent{
  display: flex;
  justify-content: center;
  padding:100px 0px;
}
.homeText{
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.greeting1{
  font-size: xxx-large;
  color: yellow;

}
.greeting2{
  font-size: xxx-large;
  color:blue

}
.greeting3{
  font-size: xxx-large;
  color:white

}
img{
  border: 2px solid blue;
  margin: 25px 25px;
  width: 300px;
  height: auto;
}