header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px 0px; /* Increase side padding for better responsiveness */
  background-color: black;
  border-bottom: 2px solid blue;
}

.domain {
  font-size: 2.5rem; /* Reduced the size for smaller screens */
  font-weight: bold;
  color: white;
}



a {
  font-size: 1.8rem; /* Slightly smaller font size for better readability */
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: yellow;
}


/* Responsive adjustments for mobile devices */
@media (max-width: 480px) {
  header {
    align-items: center;
    flex-direction: column; /* Stacks the header content vertically */
  }

  .domain {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .navs {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    font-size: 1.3rem;
  }
}
