.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 20px; /* Adjusted for smaller screens */
  border-bottom: 2px solid blue;
  position: fixed;
  width: 100%;
  background-color: black;
}

.domain {
  font-size: 3rem; /* More scalable units for font size */
  font-weight: bold;
  color: white;
}

.navs {
  margin-right: 25px;
  font-size: 1.5rem; /* Scalable units for easier adjustment */
  display: flex;
  justify-content: space-evenly;
  gap: 20px; /* Adds gap between links */
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: yellow;
}

/* Tablet devices */
@media (max-width: 900px) {
  .domain {
    font-size: 2.5rem;
  }

  .navs {
    font-size: 1.25rem;
    gap: 15px;
  }
}

/* Mobile devices */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .domain {
    font-size: 2rem;
  }

  .navs {
    font-size: 1rem;
    flex-direction: column; /* Stack links vertically */
    align-items: center;
    gap: 10px; /* Reduced gap for mobile */
  }
}
