header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top:0;
  padding: 10px 0px;
  background-color: black;
  border-bottom: 2px solid blue;
}

.domain{
  font-size: xxx-large;
  font-weight: bold;
  color: white;
  
}

.navs{
  margin: 0px 10px;
}
a{
  font-size: xx-large;
  color: white;
  text-decoration: none;
  margin:0px 10px;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
  color: yellow;
}