footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top:2px solid blue
}
footer p{
    color: white;
    font-size: x-large;
}
footer a{
    color:white;
    font-size: large;
    
}
a:hover{
    color:yellow
}