/* App.css */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  /* background-image: url(assets/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

